<!DOCTYPE html>
<html lang="kr">
<head>
    <title>헹이의 세상</title>
    <link rel="stylesheet" href="css\style.css">
    <script src="js\index.js"></script>
</head>
<body>
    <nav></nav>
    <div class="infinite">
        <div class="list">
            <div class="box">
                <h1>에이치아~이</h1>
                <h5>안녕! 여긴 혜영이의 세상이야(❁´◡`❁)</h3>
                <h3>Kwon HyeYoung</h3>
                <h4>1998.12.30 호오랑이띠 어흥🐯</h4>
            </div>
            <div class="box">
                <h1>skills</h1>
                <img src="images/skills.png" alt="my images">
                <p>FE</p>
            </div>
            <div class="box">
                <h1>project</h1>
                <a href="postit">Postit</a>
                <br>
                <a href="map">MAP</a>
                <p></p>
            </div>
        </div>
    </div>
    <div class="pagination"></div>
    
</body>
