<!DOCTYPE html>
<html lang="kr">
<head>
    <title>과제2 - 포스트잇</title>
    <style>
        .modal {position: absolute; background-color: black; width:200px; height: 200px;}
        .modal textarea {resize: none; width: 200px; height: 180px; position: absolute; top: 20px;}
        .modal_title {position: absolute; background-color: #B0C4DE; width:100%; height:20px; color: black; border: solid 1px; border-color: black;}
        .modal_title a {float: right; padding-right: 5px; color: white;}
    </style>    
    <script defer src = "js\postit.js"></script>
</head>
<body>
    <button type="button" id="add">포스트잇 추가!</button>
    <button type="button" id="new_add">불러오기</button>
    <button type="button" id="save">저장하기</button>
</body>
</html>
